@import "tailwindcss";

@theme {
  --color-insta-dark: #000000;
  --color-insta-border: #262626;
  --color-insta-gray: #8e8e8e;
}

:root {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #000000;
  color: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
